* text=auto

*.tex text eol=lf
*.py  text eol=lf
*.md  text eol=lf
*.yml text eol=lf
*.csv text eol=lf
*.json text eol=lf

*.pdf binary
*.png binary
*.jpg binary
*.JPG binary
*.mp4 binary
*.webm binary
